@import url("../../common-styles/conf_inicial.css");
@import url("../../common-styles/fonts.css");

main {
    border: 1px solid rgb(17, 75, 52);
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    
    .contenedor {
        border: 1px solid rgb(17, 75, 52);
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        aside {
            border: 1px solid grey;
            width: 300px;
            height: 100%;

            label {
                display: flex;

                input:hover {cursor: pointer}

                .valor {
                    width: 100px;
                    height: 20px;
                    border: 1px solid red;
                }
            }
        }
    }
}