@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* orbitron */

:root {
    --transitionTime: .14s;
    --loginBackgroundColor: rgb(20, 20, 20);
    --loginFormColor: white;
    --signUpBackgroundColor: rgb(255, 255, 255);
    --signUpFormColor: rgb(20, 20, 20);
    --enfasisColor: rgb(255, 0, 98);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(../../resources/backgrounds/wallpaper-758922_1920.png);

    .formContainer {
        width: 720px;
        height: 100vh;
        background: linear-gradient(90deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .8) 70%, rgb(0, 0, 0, 0) 100%);
        padding-left: 30px;

        form {
            perspective: 2000px;

            width: 68%;
            height: 100vh;
            text-align: center;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .selector {
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                h1 {
                    width: 50%;
                    height: 60px;
                    font-family: orbitron;
                    font-size: 20px;
                    color: rgb(122, 122, 122);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    transition: var(--transitionTime) ease-in;

                    input {
                        position: absolute;
                        appearance: none;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }

                h1:has(input:checked) {
                    color: rgb(255, 255, 255);
                }

                h1:first-child:has(input:checked) {
                    font-size: 46px;
                    transition: var(--transitionTime) ease-in;
                }

                h1:last-child:has(input:checked) {
                    font-size: 46px;
                    transition: var(--transitionTime) ease-in;
                }

                h1:has(input:hover) {
                    color: var(--enfasisColor);
                }
            }

            .fieldset {
                width: 100%;
                height: 185px;
                border: 1px solid rgb(105, 105, 105);
                border-radius: 8px;
                padding: 20px;
                position: relative;
                transform-origin: left;
                transform: rotateY(30deg);

                legend {
                    width: 120px;
                    margin-left: -10px;

                    .icono {
                        height: 100px;
                        aspect-ratio: 1/1;
                        border-radius: 8px;
                        border: 1px solid rgb(104, 104, 104);
                        margin: 0 10px 0 10px;
                        padding: 15px;
                    }
                }

                .contador {
                    --iconSize: 30px;
                    width: var(--iconSize);
                    height: var(--iconSize);
                    border-radius: 8px;
                    border: 1px solid rgb(104, 104, 104);
                    position: absolute;
                    top: -34px;
                    left: 140px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: grey;
                    font-family: orbitron;
                    transition: .3s ease-in;
                }

                .validado {
                    width: 150px;
                    left: 15px;
                    transition: .3s ease-in;
                    color: grey;
                }

                .formField {
                    width: 100%;
                    height: 40px;
                    appearance: none;
                    border: none;
                    border-radius: 8px;
                    text-align: center;
                    font-family: orbitron;
                    font-size: 12px;
                    letter-spacing: 3px;
                    color: rgb(255, 255, 255);
                    outline: none;
                    border: 1px solid rgb(104, 104, 104);
                    background-color: rgba(141, 141, 141, 0.164);
                    box-shadow: inset 0 12px 20px black;
                    cursor: pointer;
                    transition: .4s;
                }

                .formField:focus:placeholder-shown {
                    letter-spacing: 12px;
                    cursor: pointer;
                    box-shadow: 0px 0px 0px transparent;
                    box-shadow: inset 0 -22px 20px black;
                    background-color: rgba(0, 0, 0, 0.568);
                }

                .formField:not(:focus):not(:placeholder-shown) {
                    letter-spacing: 12px;
                    background-color: rgba(0, 0, 0, 0.568);
                }

                .formField:focus:not(:placeholder-shown) {
                    letter-spacing: 12px;
                    background-color: rgba(0, 0, 0, 0.568);
                }
            }

            .fieldset3d,
            .fieldset:hover {
                transform: rotateY(0deg);
            }

            .domCargado {
                transition: .3s ease-in;
            }
        }
    }
}